.heading h1{
  text-align: center;
  font-size: 95px;
  color: green
}

.heading p{
  font-size: 20px;
  padding: 10px;
  color: green;
  background-color: white;
}

.listlink {
  color: red;
}

.presidentimg{
  padding-left: 230px;
  padding-top: 20px;
  width: 600px;
}

.president h1{
  text-align: justify;
}

.president p{
  
}

.presidentbody{
  background-color: green;
}

.flag{
  padding-left: 350px;
}
.history h1{
  text-align: center;
  color: white;
}

.history p{
  color: white;
}

.historybody{
  background-color: green;
}

*{
  margin: 0px;
  padding: 0px;
}